.root-div {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.contact-list-single-contact {
  cursor: pointer;
  user-select: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
}

.contact-list-single-contact-selected {
  cursor: pointer;
  user-select: none;
  background-color: #579aff;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
}

.contact-list-single-contact-names {
  margin-left: 15px;
}

.contact-list-main-div {
  width: 228px;
  height: 750px;
  left: 0px;
  top: 0px;
  background: #f8faff;
}

.contact-list-header {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  margin-left: 15px;
}

.contact-list-all-contacts {
  overflow-y: scroll;
  height: 768px;
}

.single-contact-root-div {
  display: grid;
  grid-template-rows: 3fr 13fr 2fr;
}

.single-contact-first-last-name-div {
  margin-top: 50px;
  margin-left: 12.5%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.single-contact-input {
  background: #f9fbff;
  width: 345px;
  height: 36px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.single-contact-emails-header {
  margin-left: 12.5%;
}

.single-contact-emails {
  margin-left: 12.5%;
}

.single-contact-input-email-button {
  height: 25px;
  width: 100px;
  padding-top: 5px;
  background-color: #579aff;

  cursor: pointer;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.single-contact-input-email-button:hover {
  height: 25px;
  width: 100px;
  padding-top: 5px;
  background-color: #579aff;

  cursor: pointer;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.single-contact-delete-email-button {
  margin-left: 15px;
  height: 35px;
  width: 150px;
  padding-top: 5px;
  background-color: #ff5757;

  cursor: pointer;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.single-contact-delete-email-button:hover {
  margin-left: 15px;
  height: 35px;
  width: 150px;
  padding-top: 5px;
  background-color: #ff5757;

  cursor: pointer;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.single-contact-single-email {
  height: 50px;
  width: 250px;
}

.single-contact-interact-buttons {
  display: grid;
  column-gap: 25px;
  grid-template-columns: 2fr 9fr 2fr 2fr;
}

.single-contact-add-button {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  margin-left: 45%;
  background-color: green;

  cursor: pointer;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.single-contact-add-button:hover {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  margin-left: 45%;
  background-color: green;

  cursor: pointer;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.single-contact-delete-button {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  margin-left: 45%;
  background-color: #ff5757;

  cursor: pointer;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.single-contact-delete-button:hover {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  margin-left: 45%;
  background-color: #ff5757;

  cursor: pointer;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.single-contact-cancel-button {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  background-color: #f9fbff;

  cursor: pointer;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.single-contact-cancel-button:hover {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  background-color: #f9fbff;

  cursor: pointer;
  color: gray;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.single-contact-save-button {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  background-color: #579aff;

  cursor: pointer;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.single-contact-save-button:hover {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  background-color: #579aff;

  cursor: pointer;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
